<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'sportsapp/base.html'%}

    {% block content %}
     
 <h1>AWARDS HALL</h1>
    {% for award in awards %}
   <p>{{award.event_awarded}}</p>
   <p>{{award.award_name}} ,{{award.item_award}} </p>
   <p>{{award.playerward_pic}} </p>
   <p>{{award.player_awarded}} </p>
    {% endfor %}  
    
    {% endblock content %}
</body>
</html>

