<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
    {% extends 'sportsapp/base.html'%}
    {% block content %}
  
    <table>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Team</th>
            <th>Position</th>
        </tr>
        {% for coach in coaches%}
            <tr>
            <td>{{coach.firstcoach_name}}</td>
            <td>{{coach.lastcoach_name}} </td>
            <td>{{coach.coach_team}} </td>
            <td>{{coach.coach_title}} </td>
            </tr>
        {% endfor%}

    </table>
    
    {% endblock content %}
</body>
</html>