<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'sportsapp/base.html'%}
    {% block content %}
   

    <h1> MATCH TURNOUT</h1>
    {% for match in matches %}
   <p>{{match.matches_played}},{{match. match_location}},{{match.match_datetime}}</p>
   <p>{{match.match_pic}} ,{{match.match_video}} </p>
   <p>{{match.match_ref}} </p>
   <!-- as a link to news report -->
   <p>{{match. match_report}} </p>
    {% endfor %}   
    {% endblock content %}
</body>
</html>

