<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'sportsapp/base.html'%}
    {% block content %}
   
    <table>
        <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Position</th>
    </tr>
    {% for referee in referees %}
    <tr>
        <td>{{referee.reffirst_name}} </td>
        <td>{{referee.reflast_name}} </td>
        <td>{{referee.ref_title}} </td>
    </tr>
    {% endfor %}    
</table>
{% endblock content %}
</body>
</html>